/node_modules
/public/hot
/public/storage
/storage/app/public/articles/*
/storage/app/public/categories/*
/storage/app/public/profile/*
/resources/views/page.html
/storage/*.key
/vendor
/packages
.history/
.phpintel/
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.orig
/.vscode

